<div id="wrapper">
<div class="innerBanner product">
    <h1>Careers</h1>
</div>
<section class="large-cap">
    <div class="container">
        <div class="runText">
            <div class="content">
                <h2>Inspire and Get
                    Inspired by Professional Experts
                </h2>
                <p>Our platform is tailor-made for developers, providing a powerful
                    and easy-to-use solution. With our tools, you can streamline your process.
                </p>
            </div>
        </div>
        <div class="mt-5">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                        <div class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="titleDetails">
                                <span class="tags">FULL TIME</span>
                                <h6>UI & Web Developer</h6>
                            </div>
                            <div class="description">
                                <p>Lorem Ipsum is simply dummy the printing
                                    ever since the 1500s, when an unknown
                                </p>
                            </div>
                            <div class="actionBtn non-collapsing" data-bs-toggle="collapse" data-bs-target>
                                <div class="btn-group mt-0">
                                    <button type="button"
                                        onclick="window.location.href='career-application.html'">
                                        Apply Now
                                        <span class="right-arrow"> <img src="../../assets/images/button-arrow-green.png"
                                                alt="button-arrow" class="green-arrow" /><img
                                                src="../../assets/images/button-arrow.png" alt="button-arrow"
                                                class="white-arrow" /></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div>
                                <h6 class="mb-2">Job description</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's
                                    standard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of
                                    type and scrambled it to make a type
                                    specimen
                                    book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining
                                    essentially unchanged.
                                    It was popularised in the 1960s with the release of Letraset sheets
                                    containing Lorem Ipsum passages, and more
                                    recently
                                    with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                </p>
                                <h6 class="mt-5">Job description</h6>
                                <ul class="listStyle mt-3">
                                    <li>Have a Bachelor Degree in Computer Science, Information Technology or
                                        related subject
                                    </li>
                                    <li>Have a minimum 2 years of experience / Fresh graduates may apply</li>
                                    <li>Proficiency in HTML5, CSS, Javascript, jQuery, PHP</li>
                                    <li>Proficiency in PHP Laravel, Bootstrap</li>
                                    <li>Engitech is the partner</li>
                                    <li>Proficiency in REST API</li>
                                </ul>
                                <h6 class="mt-5">What we offer to you ?</h6>
                                <ul class="listStyle mt-3">
                                    <li>$ 2500 Salary/month</li>
                                    <li>Computer</li>
                                    <li>$ 300 Transportation fee</li>
                                    <li>Travelling at end of the yea</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo">
                        <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="titleDetails">
                                <span class="tags remote">REMOTE</span>
                                <h6>App Developer</h6>
                            </div>
                            <div class="description">
                                <p>Lorem Ipsum is simply dummy the printing
                                    ever since the 1500s, when an unknown
                                </p>
                            </div>
                            <div class="actionBtn non-collapsing" data-bs-toggle="collapse" data-bs-target>
                                <div class="btn-group mt-0">
                                    <button type="button"
                                        onclick="window.location.href='career-application.html'">
                                        Apply Now
                                        <span class="right-arrow"> <img src="../../assets/images/button-arrow-green.png"
                                                alt="button-arrow" class="green-arrow" /><img
                                                src="../../assets/images/button-arrow.png" alt="button-arrow"
                                                class="white-arrow" /></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div>
                                <h6 class="mb-2">Job description</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's
                                    standard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of
                                    type and scrambled it to make a type
                                    specimen
                                    book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining
                                    essentially unchanged.
                                    It was popularised in the 1960s with the release of Letraset sheets
                                    containing Lorem Ipsum passages, and more
                                    recently
                                    with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                </p>
                                <h6 class="mt-5">Job description</h6>
                                <ul class="listStyle mt-3">
                                    <li>Have a Bachelor Degree in Computer Science, Information Technology or
                                        related subject
                                    </li>
                                    <li>Have a minimum 2 years of experience / Fresh graduates may apply</li>
                                    <li>Proficiency in HTML5, CSS, Javascript, jQuery, PHP</li>
                                    <li>Proficiency in PHP Laravel, Bootstrap</li>
                                    <li>Engitech is the partner</li>
                                    <li>Proficiency in REST API</li>
                                </ul>
                                <h6 class="mt-5">What we offer to you ?</h6>
                                <ul class="listStyle mt-3">
                                    <li>$ 2500 Salary/month</li>
                                    <li>Computer</li>
                                    <li>$ 300 Transportation fee</li>
                                    <li>Travelling at end of the yea</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                        <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="titleDetails">
                                <span class="tags">FULL TIME</span>
                                <h6>UI/UX Designer</h6>
                            </div>
                            <div class="description">
                                <p>Lorem Ipsum is simply dummy the printing
                                    ever since the 1500s, when an unknown
                                </p>
                            </div>
                            <div class="actionBtn non-collapsing" data-bs-toggle="collapse" data-bs-target>
                                <div class="btn-group mt-0">
                                    <button type="button"
                                        onclick="window.location.href='career-application.html'">
                                        Apply Now
                                        <span class="right-arrow"> <img src="../../assets/images/button-arrow-green.png"
                                                alt="button-arrow" class="green-arrow" /><img
                                                src="../../assets/images/button-arrow.png" alt="button-arrow"
                                                class="white-arrow" /></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div>
                                <h6 class="mb-2">Job description</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's
                                    standard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of
                                    type and scrambled it to make a type
                                    specimen
                                    book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining
                                    essentially unchanged.
                                    It was popularised in the 1960s with the release of Letraset sheets
                                    containing Lorem Ipsum passages, and more
                                    recently
                                    with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                </p>
                                <h6 class="mt-5">Job description</h6>
                                <ul class="listStyle mt-3">
                                    <li>Have a Bachelor Degree in Computer Science, Information Technology or
                                        related subject
                                    </li>
                                    <li>Have a minimum 2 years of experience / Fresh graduates may apply</li>
                                    <li>Proficiency in HTML5, CSS, Javascript, jQuery, PHP</li>
                                    <li>Proficiency in PHP Laravel, Bootstrap</li>
                                    <li>Engitech is the partner</li>
                                    <li>Proficiency in REST API</li>
                                </ul>
                                <h6 class="mt-5">What we offer to you ?</h6>
                                <ul class="listStyle mt-3">
                                    <li>$ 2500 Salary/month</li>
                                    <li>Computer</li>
                                    <li>$ 300 Transportation fee</li>
                                    <li>Travelling at end of the yea</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                        <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <div class="titleDetails">
                                <span class="tags">FULL TIME</span>
                                <h6>UI Developer</h6>
                            </div>
                            <div class="description">
                                <p>Lorem Ipsum is simply dummy the printing
                                    ever since the 1500s, when an unknown
                                </p>
                            </div>
                            <div class="actionBtn non-collapsing" data-bs-toggle="collapse" data-bs-target>
                                <div class="btn-group mt-0">
                                    <button type="button"
                                        onclick="window.location.href='career-application.html'">
                                        Apply Now
                                        <span class="right-arrow"> <img src="../../assets/images/button-arrow-green.png"
                                                alt="button-arrow" class="green-arrow" /><img
                                                src="../../assets/images/button-arrow.png" alt="button-arrow"
                                                class="white-arrow" /></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div>
                                <h6 class="mb-2">Job description</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's
                                    standard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of
                                    type and scrambled it to make a type
                                    specimen
                                    book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining
                                    essentially unchanged.
                                    It was popularised in the 1960s with the release of Letraset sheets
                                    containing Lorem Ipsum passages, and more
                                    recently
                                    with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                </p>
                                <h6 class="mt-5">Job description</h6>
                                <ul class="listStyle mt-3">
                                    <li>Have a Bachelor Degree in Computer Science, Information Technology or
                                        related subject
                                    </li>
                                    <li>Have a minimum 2 years of experience / Fresh graduates may apply</li>
                                    <li>Proficiency in HTML5, CSS, Javascript, jQuery, PHP</li>
                                    <li>Proficiency in PHP Laravel, Bootstrap</li>
                                    <li>Engitech is the partner</li>
                                    <li>Proficiency in REST API</li>
                                </ul>
                                <h6 class="mt-5">What we offer to you ?</h6>
                                <ul class="listStyle mt-3">
                                    <li>$ 2500 Salary/month</li>
                                    <li>Computer</li>
                                    <li>$ 300 Transportation fee</li>
                                    <li>Travelling at end of the yea</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="large-cap sliverBg">
    <div class="container">
        <div class="row col-change">
            <div class="col-lg-6 col-sm-12">
                <div class="text-center">
                    <figure>
                        <img src="../../assets/images/about-img.png" alt="about-img" />
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex align-items-center">
                <div class="mob-align">
                    <h6 class="sub-title">Work With Us</h6>
                    <h2>Why Choose Us?</h2>
                    <p>Our platform is tailor-made for developers, providing a
                        powerful and easy-to-use solution. With our tools, you can
                        streamline your development process and achieve better
                        outcomes. We offer a range of features that enable you to
                        create robust applications quickly and efficiently.
                    </p>
                    <p class="mt-2">Cloud-based solutions have allowed businesses to shift their
                        operations to remote, allowing employees to work with
                        an internet connection.
                    </p>
                    <div class="btn-group">
                        <a href="#" target="_top">Read More
                            <span class="right-arrow">
                                <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>