<div class="innerBanner bank product">
    <h1>Mobility And Hospitality</h1>
</div>
<section class="large-cap mobile-filter">
    <div class="filter-icon">
        <div class="filter-toggle">
            <button class="filter-open"><i class="bx bx-chevron-right"></i></button>
            <button class="filter-close"><i class="bx bx-chevron-left"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="blogSection">
            <div class="blogMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/bankfinancials">Banking and Financials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insurance.html">Insurance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="healthcare.html">Healthcare, Pharma & Life Science</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manufacturing.html">Manufacturing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="retail.html">Retails</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="energy-and-utilities.html">Energy and Utilities</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="mobility-and-hospitality.html">Mobility and Hospitality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="media-and-communications.html">Media and communications</a>
                    </li>
                </ul>
                <div class="profileInfo">
                    <figure>
                        <img class="blogImg" src="../../assets/images/avather.png" alt="about-img" />
                    </figure>
                    <h6>Need any It help?</h6>
                    <p>201-993-3194</p>
                    <p>Mail: <a href="mailto:info@Globalsumi.com">infoGlobalsumi.com</a></p>
                    <!-- <div class="socialLink">
                   <a class="link" href="#">
                   </a>
                   <a class="link" href="#">
                   </a>
                   <a class="link" href="#">
                   </a>
                   </div> -->
                </div>
            </div>
            <div class="blogContainer">
                <figure class="mb-4">
                    <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                </figure>
                <div class="content">
                    <h2>Revolutionizing Transportation: Future of Mobility as a Service
                    </h2>
                    <p>Traditional transportation systems often present fragmented options, lack of seamless
                        integration, and inefficiencies in accessing diverse modes of transit. Urban congestion,
                        environmental concerns, and limited accessibility further compound the challenges faced
                        by commuters. Individuals grapple with multiple apps, varied payment methods, and
                        disjointed routes, leading to inconvenience and reduced transportation options.
                    </p>
                    <!-- <ul class="listStyle mt-3">
                   <li> Digital Automation
                   </li>
                   <li>4PL Logistics
                   </li>
                   <li> Omni Channel
                   </li>
                   <li>B2B/ EDI Network
                   </li>
                   <li>Travel Technology
                   </li>
                   <li>Contactless Travel
                   </li>
                   <li>Trend Analysis using Big data
                   </li>
                   <li>TBD</li>
                   </ul> -->
                </div>
                <div class="content">
                    <h2>Seamless Integration ensuring smooth operations
                    </h2>
                    <p>
                        We pride ourselves on our adaptability and expertise in integrating and supporting
                        diverse third-party solutions. Our team of skilled professionals are adept at seamlessly
                        integrating and optimizing third-party products within your existing infrastructure,
                        ensuring smooth operations, and maximizing the value of your investments. Trust us to
                        provide comprehensive support and customized solutions to your unique business needs,
                        creating a harmonious ecosystem of technology for your success.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="image-blog">
                                <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <figure>
                                <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>