<header class="header" id="header">
    <div class="menu-group">
        <a href="../../../src/index.html" class="brand">
            <img src="../../assets/images/logo.png" alt="logo" />
        </a>
        <div class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </div>
        <span class="overlay"></span>
        <nav class="navbar" id="navbar">
            <div class="close-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                    stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="15" y1="9" x2="9" y2="15"></line>
                    <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
            </div>
            <ul class="menu" id="menu">
                <li class="menu-item"><a href="/home" class="menu-link">Home</a></li>
                <li class="menu-item"><a href="/about" class="menu-link">About Us</a></li>
                <li class="menu-item menu-dropdown">
                    <span class="menu-link" data-toggle="submenu">Industries<i class="bx bx-chevron-down"></i></span>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="/bankfinancials" class="submenu-link">Banking and
                                Financials
                            </a>
                        </li>
                        <li class="submenu-item"><a href="/insurance" class="submenu-link">Insurance
                            </a>
                        </li>
                        <li class="submenu-item"><a href="/healthcare" class="submenu-link">Healthcare &
                                Life Sciences
                            </a>
                        </li>
                        <li class="submenu-item"><a href="/manufacturing" class="submenu-link">Manufacturing
                            </a>
                        </li>
                        <li class="submenu-item"><a href="/retail" class="submenu-link">Retail
                            </a>
                        </li>
                        <li class="submenu-item"><a href="/energyutilities" class="submenu-link">Energy
                                and Utilities
                            </a>
                        </li>
                        <li class="submenu-item"><a href="/mobilityhospitality"
                                class="submenu-link">Mobility and Hospitality
                            </a>
                        </li>
                        <li class="submenu-item"><a href="/mediacommunication"
                                class="submenu-link">Media and communications
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-dropdown">
                    <span class="menu-link" data-toggle="submenu">Services<i class="bx bx-chevron-down"></i></span>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="fullstackdevelopment" class="submenu-link">Full Stack
                                Development
                            </a>
                        </li>
                        <li class="submenu-item"><a href="iotdigitalexperience" class="submenu-link">Internet of Things
                                & Digital
                                Experience
                            </a>
                        </li>
                        <li class="submenu-item"><a href="etldataquality" class="submenu-link">ETL and
                                Data Quality
                            </a>
                        </li>
                        <li class="submenu-item"><a href="cloudservices" class="submenu-link">Cloud
                                Services
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">Data Science
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">Analytics
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">Automation and Quality
                                Engineering
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">AI and ML
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">Cyber Security
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-dropdown">
                    <span class="menu-link" data-toggle="submenu">Products<i class="bx bx-chevron-down"></i></span>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="#" class="submenu-link">IEMR
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">SearchBlox
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item"><a href="careers" class="menu-link">Careers </a></li>
                <li class="menu-item"><a href="contactus" class="menu-link">Contact us</a></li>
                <li class="menu-item btn-group"><a href="#" class="menu-link">Register / Login
                        <span class="right-arrow">
                            <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>