<!-- <div class="header"> -->
  <!-- <a href="./index.html" class="brand">
    <img src="../../assets/images/logo.png" alt="logo" />
  </a>
  <div> -->
  <!-- <ul class="nav nav-tabs nav-menu-item">
    <li class="nav-item">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Link
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul> -->

  <header class="header" id="header">
    <div class="menu-group">
        <a href="./index.html" class="brand">
            <img src="../../assets/images/logo.png" alt="logo" />
        </a>
        <div class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </div>
        <span class="overlay"></span>
        <nav class="navbar" id="navbar">
            <div class="close-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                    stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="15" y1="9" x2="9" y2="15"></line>
                    <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
            </div>
            <ul class="menu" id="menu">
                <li class="menu-item" ><a href="/home" class="menu-link">Home</a></li>
                <li class="menu-item"><a href="/about" class="menu-link">About Us</a></li>
                <li class="menu-item menu-dropdown">
                    <span class="menu-link" data-toggle="submenu">Industries<i
                            class="bx bx-chevron-down"></i></span>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="/bankfinancials" class="submenu-link">Banking and
                                Financials
                            </a>
                        </li>
                        <li class="submenu-item"><a href="insurance.html" class="submenu-link">Insurance
                            </a>
                        </li>
                        <li class="submenu-item"><a href="healthcare.html" class="submenu-link">Healthcare &
                                Life Sciences
                            </a>
                        </li>
                        <li class="submenu-item"><a href="manufacturing.html" class="submenu-link">Manufacturing
                            </a>
                        </li>
                        <li class="submenu-item"><a href="retail.html" class="submenu-link">Retail
                            </a>
                        </li>
                        <li class="submenu-item"><a href="energy-and-utilities.html" class="submenu-link">Energy
                                and Utilities
                            </a>
                        </li>
                        <li class="submenu-item"><a href="mobility-and-hospitality.html"
                                class="submenu-link">Mobility and Hospitality
                            </a>
                        </li>
                        <li class="submenu-item"><a href="media-and-communications.html"
                                class="submenu-link">Media and communications
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-dropdown">
                    <span class="menu-link" data-toggle="submenu">Services<i
                            class="bx bx-chevron-down"></i></span>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="full-stack-dev.html" class="submenu-link">Full Stack
                                Development
                            </a>
                        </li>
                        <li class="submenu-item"><a href="iot-and-digitital-experience.html"
                                class="submenu-link">Internet of Things & Digital
                                Experience
                            </a>
                        </li>
                        <li class="submenu-item"><a href="elt-data-quality.html" class="submenu-link">ETL and
                                Data Quality
                            </a>
                        </li>
                        <li class="submenu-item"><a href="cloud-services.html" class="submenu-link">Cloud
                                Services
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">Data Science
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">Analytics
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">Automation and Quality
                                Engineering
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">AI and ML
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">Cyber Security
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-dropdown">
                  <span class="menu-link" data-toggle="submenu">Products<i
                    class="bx bx-chevron-down"></i></span>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="#" class="submenu-link">IEMR
                            </a>
                        </li>
                        <li class="submenu-item"><a href="#" class="submenu-link">SearchBlox
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item"><a href="careers" class="menu-link">Careers </a></li>
                <li class="menu-item"><a href="contact-us.html" class="menu-link">Contact us</a></li>
                <li class="menu-item btn-group"><a href="#" class="menu-link">Register / Login
                        <span class="right-arrow">
                            <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- </div>
</div> -->