<div id="wrapper">
<footer class="footer-bg">
    <div>
        <div class="container">
            <div class="foot-grp">
                <div class="foot-logo" style="margin-top: 120px;">
                    <img src="../../assets/images/footer-logo.png" alt="footer-logo">
                    <p>Innovate, Transform, Thrive. </p>
                </div>
                <div class="foot-menu" style="margin-top: 120px;">
                    <h6 class="text-white">Quick Links</h6>
                    <div class="menu-blog">
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Industries</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                        <ul>
                            <li><a href="product.html">Products</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="copy-right">
                <div>
                    <p>Copyright 2023 <span>Global Sumi Technologies Inc.</span> All Rights Reserved</p>
                </div>
                <div>
                    <ul class="social-icons d-flex">
                        <li><a href="#" class="btn-fb" target="_blank"></a></li>
                        <li><a href="#" class="btn-tw" target="_blank"></a></li>
                        <li><a href="#" class="btn-you" target="_blank"></a></li>
                        <li><a href="#" class="btn-in" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>