<div id="wrapper">
<div class="innerBanner product">
    <h1>About Us</h1>
</div>
<section class="large-cap">
    <div class="container">
        <div class="row col-change">
            <div class="col-lg-6 col-sm-12">
                <div class="about-img ">
                    <figure class="text-center">
                        <img src="../../assets/images/about-img.png" alt="about-img" />
                    </figure>
                    <div class="it-ex">
                        <h4>1.5K</h4>
                        <p>IT Business Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div>
                    <h6 class="sub-title">About Us</h6>
                    <h2>Building trust and credibility with customers over two decades
                    </h2>
                    <p>
                        We pride ourselves on being customer-centric in all our endeavors. We prioritize our
                        customers' needs, ensuring that their satisfaction remains at the forefront of
                        everything we do. We believe in building trust through integrity and accountability,
                        fostering long-lasting connections with our valued clientele.
                    </p>
                    <div class="about-blog">
                        <div class="blog-items">
                            <div class="">
                                <img src="../../assets/images/settings-icon.png" alt="setting" />
                            </div>
                            <div class="item-cont">
                                <h6>Transparency</h6>
                                <p>Our commitment means open communication. Your needs are our priority, and
                                    transparency is our pledge.
                                </p>
                            </div>
                        </div>
                        <div class="blog-items">
                            <div class="">
                                <img src="../../assets/images/settings-icon.png" alt="setting" />
                            </div>
                            <div class="item-cont">
                                <h6>Global Presence</h6>
                                <p>we stand at the forefront of delivering excellence across borders.</p>
                            </div>
                        </div>
                    </div>
                    <p>Our extensive reach enables us to cater to various markets, embracing diversity and
                        leveraging our expertise to meet the unique needs of our customer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="large-cap sliverBg rowRevers">
    <div class="container">
        <div class="ourTeam">
            <div class="content">
                <h6 class="sub-title">We Make Connections</h6>
                <h2 class="p-0">Discover Trust Team and Our Experts</h2>
            </div>
            <div class="teamList">
                <div class="teamCard">
                    <img src="../../assets/images/emma.jpg" alt="emma" />
                    <div class="details">
                        <h6 class="name">Emma London</h6>
                        <p class="role">CEO</p>
                    </div>
                </div>
                <div class="teamCard">
                    <img src="../../assets/images/profiledev.jpg" alt="emma" />
                    <div class="details">
                        <h6 class="name">Emma London</h6>
                        <p class="role">CEO</p>
                    </div>
                </div>
                <div class="teamCard">
                    <img src="../../assets/images/profile.jpg" alt="emma" />
                    <div class="details">
                        <h6 class="name">Emma London</h6>
                        <p class="role">CEO</p>
                    </div>
                </div>
                <div class="teamCard">
                    <img src="../../assets/images/profiledev.jpg" alt="emma" />
                    <div class="details">
                        <h6 class="name">Emma London</h6>
                        <p class="role">CEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="large-cap">
    <div class="container">
        <div class="industries-item">
            <div class="row col-change">
                <div class="col-lg-6 col-sm-12">
                    <div class="row double-img-blog">
                        <div class="col-6">
                            <div class="text-center">
                                <figure>
                                    <img class="mt-130" src="../../assets/images/profile.jpg" alt="about-img" />
                                </figure>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-center">
                                <figure>
                                    <img src="../../assets/images/profiledev.jpg" alt="about-img" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 d-flex align-items-center">
                    <div>
                        <h6 class="sub-title">Industries</h6>
                        <h2>Lorem ipsum dolor</h2>
                        <p>
                            Engitech is the partner of choice for many of the world’s
                            leading enterprises, SMEs and technology challengers. We help
                            businesses elevate their value through custom software
                            printer took a galley of type and scrambled it to make a
                            with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row col-change">
                <div class="col-lg-6 col-sm-12">
                    <div class="row double-img-blog">
                        <div class="col-6">
                            <div class="text-center">
                                <figure>
                                    <img class="mt-130" src="../../assets/images/profile.jpg" alt="about-img" />
                                </figure>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-center">
                                <figure>
                                    <img src="../../assets/images/profiledev.jpg" alt="about-img" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 d-flex align-items-center">
                    <div>
                        <h6 class="sub-title">Industries</h6>
                        <h2>Lorem ipsum dolor</h2>
                        <p>
                            Engitech is the partner of choice for many of the world’s
                            leading enterprises, SMEs and technology challengers. We help
                            businesses elevate their value through custom software
                            printer took a galley of type and scrambled it to make a
                            with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>