<div id="wrapper">
        <div class="innerBanner product">
            <h1>Apply Now</h1>
        </div>
        <section class="large-cap">
            <div class="address">
                <div class="container">
                    <div class="text-center address-cont">
                        <h2>Let's Discuss Your Opportunity </h2>
                        <p>Our platform is tailor-made for developers, providing a powerful and easy-to-use solution.
                            With our tools, you can streamline your process.
                        </p>
                    </div>
                    <div class="submit-form">
                        <div class="contact-form contact-page">
                            <form>
                                <div class="home-form">
                                    <div class="form-grp">
                                        <div class="form-item">
                                            <input type="text" id="firstname" autocomplete="off" required />
                                            <label for="firstname">First Name*</label>
                                        </div>
                                        <div class="form-item">
                                            <input type="text" id="lastname" autocomplete="off" required />
                                            <label for="lastname">Last Name*</label>
                                        </div>
                                    </div>
                                    <div class="form-grp">
                                        <div class="form-item">
                                            <input type="email" id="email" autocomplete="off" required />
                                            <label for="email">Email*</label>
                                        </div>
                                        <div class="form-item">
                                            <input type="number" id="phonenumber" autocomplete="off" required />
                                            <label for="phonenumber">Phone Number*</label>
                                        </div>
                                    </div>
                                    <div class="form-grp">
                                        <div class="form-item">
                                            <input type="text" id="company" autocomplete="off" required />
                                            <label for="company">Company*</label>
                                        </div>
                                        <div class="form-item">
                                            <input type="text" id="role" autocomplete="off" required />
                                            <label for="role">Role*</label>
                                        </div>
                                    </div>
                                    <div class="form-grp">
                                        <div class="form-item file-input">
                                            <input type="file" id="uploadCV" onchange="displayFileNameCV()"
                                                autocomplete="off" required />
                                            <label for="uploadCV">Upload your CV*</label>
                                            <div id="uploadCVContainer"></div>
                                        </div>
                                        <div class="form-item file-input">
                                            <input type="file" id="fileInput" autocomplete="off"
                                                onchange="displayFileName()" required />
                                            <label for="fileInput">Upload your Cover Letter*</label>
                                            <div id="fileNameContainer"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-item">
                                            <textarea id="message" autocomplete="off" required></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
                                    <div class="text-center pt-2">
                                        <div class="btn-group mt-0">
                                            <button type="submit">
                                                <a href="javascript:void(0);" target="_top">SUBMIT APPLICATION
                                                    <span class="right-arrow">
                                                        <img src="../../assets/images/button-arrow.png" alt="button-arrow" />
                                                    </span>
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="large-cap sliverBg">
            <div class="container">
                <div class="row col-change">
                    <div class="col-lg-6 col-sm-12">
                        <div class="text-center">
                            <figure>
                                <img src="../../assets/images/about-img.png" alt="about-img" />
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 d-flex align-items-center">
                        <div class="mob-align">
                            <h6 class="sub-title">Work With Us</h6>
                            <h2>Why Choose Us?</h2>
                            <p>Our platform is tailor-made for developers, providing a
                                powerful and easy-to-use solution. With our tools, you can
                                streamline your development process and achieve better
                                outcomes. We offer a range of features that enable you to
                                create robust applications quickly and efficiently.
                            </p>
                            <p class="mt-2">Cloud-based solutions have allowed businesses to shift their
                                operations to remote, allowing employees to work with
                                an internet connection.
                            </p>
                            <div class="btn-group">
                                <a href="#" target="_top">Read More
                                    <span class="right-arrow">
                                        <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>