<div id="wrapper">
    <div class="innerBanner bank product">
        <h1>Manufacturing</h1>
    </div>
    <section class="large-cap mobile-filter">
        <div class="filter-icon">
            <div class="filter-toggle">
                <button class="filter-open"><i class="bx bx-chevron-right"></i></button>
                <button class="filter-close"><i class="bx bx-chevron-left"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="blogSection">
                <div class="blogMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/bankfinancials">Banking and Financials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="insurance.html">Insurance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="healthcare.html">Healthcare, Pharma & Life Science</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="manufacturing.html">Manufacturing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="retail.html">Retails</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="energy-and-utilities.html">Energy and Utilities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mobility-and-hospitality.html">Mobility and Hospitality</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="media-and-communications.html">Media and communications</a>
                        </li>
                    </ul>
                    <div class="profileInfo">
                        <figure>
                            <img class="blogImg" src="../../assets/images/avather.png" alt="about-img" />
                        </figure>
                        <h6>Need any It help?</h6>
                        <p>201-993-3194</p>
                        <p>Mail: <a href="mailto:info@Globalsumi.com">infoGlobalsumi.com</a></p>
                        <!-- <div class="socialLink">
                       <a class="link" href="#">
                       </a>
                       <a class="link" href="#">
                       </a>
                       <a class="link" href="#">
                       </a>
                       </div> -->
                    </div>
                </div>
                <div class="blogContainer">
                    <figure class="mb-4">
                        <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                    </figure>
                    <div class="content">
                        <h2>How industrial IoT is transforming manufacturing
                        </h2>
                        <p>We are revolutionizing manufacturing processes. We leverage advanced technologies like
                            IoT, AI, and automation to optimize production, enhance efficiency, and drive
                            innovation. By integrating smart manufacturing systems and deploying predictive
                            analytics, we're transforming traditional factories into agile, connected, and
                            data-driven environments. Our commitment to Industrial IT ensures streamlined
                            operations, improved productivity, and a pathway towards the future of manufacturing
                            excellence.
                        </p>
                        <ul class="listStyle mt-3">
                            <li>Enterprise Resource Planning (ERP). </li>
                            <li>End to End engineering services </li>
                            <li>Intelligent Products </li>
                            <li>Digitalized floor solution</li>
                            <li>Smart Manufacturing - IIoT</li>
                            <li>Automation robotics and speed manufacturing</li>
                            <li>Green Manufacturing </li>
                            <li>Metaverse</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h2>Manufacturing adopts industry's 4.0 technologies
                        </h2>
                        <p>IT advancements have facilitated the integration of automation and robotics into
                            manufacturing processes. Robots equipped with AI and machine learning capabilities
                            perform tasks with precision, speed, and consistency, reducing human error and enhancing
                            productivity.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="image-blog">
                                    <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <figure>
                                    <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>