<div id="wrapper">
    <!-- Banner Section  -->
    <div class="innerBanner product">
        <h1>Contact Us</h1>
    </div>
    <!-- Address-Section -->
    <section class="large-cap">
        <div class="address">
            <div class="container">
                <div class="text-center address-cont">
                    <h2>Our Address</h2>
                    <p class="">Welcome to sumi technologies. A brand-new community featuring
                        sophisticated
                        apartment
                        residences and stylish amenities in one of L.A.’s most energetic locations.
                    </p>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="address-info">
                            <div>
                                <img src="../../assets/images/settings-icon.png" alt="img">
                            </div>
                            <div class="content-right">
                                <h5>Location</h5>
                                <h6>8814 Bayberry Ave.<br>
                                    Jonesborough, TN 37659
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="address-info">
                            <div>
                                <img src="../../assets/images/settings-icon.png" alt="img">
                            </div>
                            <div class="content-right">
                                <h5>Support</h5>
                                <h6>Mobile: <span>+(84) - 1800 - 33355</span><br>
                                    Support: <span>1800 - 33355</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="address-info">
                            <div>
                                <img src="../../assets/images/settings-icon.png" alt="img">
                            </div>
                            <div class="content-right">
                                <h5>Get in Touch</h5>
                                <h6>
                                    Monday - Friday: 09:00 to 18:00<br>
                                    (GMT +8). Closed on Saturday<br>
                                    and Sunday.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- form section -->
    <section class="large-cap form-area">
        <div class="container">
            <div class="row col-change">
                <div class="col-md-6">
                    <div class="content-left">
                        <h2>Ready to Get Started?</h2>
                        <p>You may simply complete the form below and click ‘send’
                            to submit an enquiry. Our customer service team will get in
                            touch with you within 3 business days.
                        </p>
                        <div class="contact-form contact-page">
                            <form>
                                <div class="home-form">
                                    <div class="form-grp">
                                        <div class="form-item">
                                            <input type="text" id="yuorname" autocomplete="off" required />
                                            <label for="yuorname">Your Name*</label>
                                        </div>
                                        <div class="form-item">
                                            <input type="number" id="phonenumber" autocomplete="off" required />
                                            <label for="phonenumber">Phone Number*</label>
                                        </div>
                                    </div>
                                    <div class="form-grp">
                                        <div class="form-item">
                                            <input type="email" id="email" autocomplete="off" required />
                                            <label for="email">Email*</label>
                                        </div>
                                        <div class="form-item">
                                            <input type="text" id="subject" autocomplete="off" required />
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-item">
                                            <textarea id="message" autocomplete="off" required></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="btn-group mt-0">
                                            <button type="submit">
                                                <a href="javascript:void(0);" target="_top">Submit
                                                    <span class="right-arrow">
                                                        <img src="../../assets/../../assets/images/button-arrow.png"
                                                            alt="button-arrow" />
                                                    </span>
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- <div class="G-map"> -->
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3157.3358874971304!2d-77.59779132342202!3d37.68831001713503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b1403ee05a1e53%3A0x390033b1d0004c4b!2sGlobal%20Sumi%20Technologies%20Inc!5e0!3m2!1sen!2sin!4v1701932747837!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
</div>