<div id="wrapper">
<div class="innerBanner bank product">
    <h1>Healthcare</h1>
</div>
<section class="large-cap mobile-filter">
    <div class="filter-icon">
        <div class="filter-toggle">
            <button class="filter-open"><i class="bx bx-chevron-right"></i></button>
            <button class="filter-close"><i class="bx bx-chevron-left"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="blogSection">
            <div class="blogMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/bankfinancials">Banking and Financials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insurance.html">Insurance</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="healthcare.html">Healthcare, Pharma & Life Science</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manufacturing.html">Manufacturing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="retail.html">Retails</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="energy-and-utilities.html">Energy and Utilities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mobility-and-hospitality.html">Mobility and Hospitality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="media-and-communications.html">Media and communications</a>
                    </li>
                </ul>
                <div class="profileInfo">
                    <figure>
                        <img class="blogImg" src="../../assets/images/avather.png" alt="about-img" />
                    </figure>
                    <h6>Need any It help?</h6>
                    <p>201-993-3194</p>
                    <p>Mail: <a href="mailto:info@Globalsumi.com">infoGlobalsumi.com</a></p>
                    <!-- <div class="socialLink">
                   <a class="link" href="#">
                   </a>
                   <a class="link" href="#">
                   </a>
                   <a class="link" href="#">
                   </a>
                   </div> -->
                </div>
            </div>
            <div class="blogContainer">
                <figure class="mb-4">
                    <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                </figure>
                <div class="content">
                    <h2>Innovating for a healthier tomorrow
                    </h2>
                    <p>We are at the forefront of healthcare technology and innovation, spearheading
                        transformative solutions. By developing robust and secure platforms, fostering
                        interoperability, and implementing AI-driven systems, we empower healthcare providers to
                        deliver exceptional patient care. Through our expertise in data analytics, telemedicine,
                        and digital health solutions, we're driving the future of healthcare, revolutionizing
                        how technology can predict, enhance and personalize patient experience.
                    </p>
                    <ul class="listStyle mt-3">
                        <li>Health Informatics
                        </li>
                        <li>Precision Medicine
                        </li>
                        <li> HL7 toFHIR
                        </li>
                        <li>Reimagning clinical development using data and AI
                        </li>
                        <li>Digital transformation from Legacy
                        </li>
                        <li>Healthcare IOT
                        </li>
                        <li>Data sharing using block chain
                        </li>
                        <li>cyber security and intelligent approach
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <h2>Transforming Healthcare: The Internet of Medical Things
                    </h2>
                    <p>The Internet of Medical Things (IoMT) stands as a transformative force in healthcare,
                        leveraging interconnected devices to revolutionize patient care, diagnostics, and
                        healthcare delivery. Here we explore the pivotal role of IoMT, elucidating the problems
                        it addresses, its innovative approach, and the myriad solutions it offers to reshape the
                        healthcare ecosystem.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="image-blog">
                                <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <figure>
                                <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>