<div id="wrapper">
<div class="h-banner">
    <div class="container h-100">
        <div class="mobile-banner">
            <img src="../../assets/images/mobile-banner.png" alt="mobile-banner" />
        </div>
        <div class="banner-content">
            <h6 class="sub-title">We provide more than just AI consulting.
            </h6>
            <h1>Experience the <br /> synergy of AI- <br />powered solutions </h1>
            <p class="pt-3 mt-2">Leveraging AI, we redefine how your businesses can thrive in the digital
                landscape. Our experts combine human ingenuity with the latest AI technology, that is not
                just powerful, but adaptive and future-proof.
            </p>
            <div class="btn-group">
                <a href="#" target="_top">GET STARTED
                    <span class="right-arrow">
                        <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                </a>
            </div>
        </div>
        <div class="banner-image">
            <img src="../../assets/images/banner-kv.png" alt="banner-kv" />
        </div>
    </div>
</div>
<section class="large-cap">
    <div class="container">
        <div class="row col-change">
            <div class="col-lg-6">
                <div class="about-img ">
                    <figure class="text-center">
                        <img src="../../assets/images/about-img.png" alt="about-img" />
                    </figure>
                    <div class="it-ex">
                        <h4>1.5K</h4>
                        <p>IT Business Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h6 class="sub-title">About Us</h6>
                    <h2>Building trust and credibility with customers over two decades
                    </h2>
                    <p>
                        We pride ourselves on being customer-centric in all our endeavors. We prioritize our
                        customers' needs, ensuring that their satisfaction remains at the forefront of
                        everything we do. We believe in building trust through integrity and accountability,
                        fostering long-lasting connections with our valued clientele.
                    </p>
                    <div class="about-blog">
                        <div class="blog-items">
                            <div class="">
                                <img src="../../assets/images/settings-icon.png" alt="setting" />
                            </div>
                            <div class="item-cont">
                                <h6>Transparency</h6>
                                <p>Our commitment means open communication. Your needs are our priority, and
                                    transparency is our pledge.
                                </p>
                            </div>
                        </div>
                        <div class="blog-items">
                            <div class="">
                                <img src="../../assets/images/settings-icon.png" alt="setting" />
                            </div>
                            <div class="item-cont">
                                <h6>Global Presence</h6>
                                <p>we stand at the forefront of delivering excellence across borders.</p>
                            </div>
                        </div>
                    </div>
                    <p>Our extensive reach enables us to cater to various markets, embracing diversity and
                        leveraging our expertise to meet the unique needs of our customer.
                    </p>
                    <div class="btn-group">
                        <a href="about.html" target="_top">Read More
                            <span class="right-arrow">
                                <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="large-cap pt-0 services-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div>
                    <h6 class="sub-title">Services</h6>
                    <h2>Your one-stop destination for <br />cutting-edge IT solutions. </h2>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="services-blog">
                    <div>
                        <p>
                            Specialized in providing comprehensive suite of services designed to address your
                            most
                            intricate technological challenges ensuring top-notch quality with expertise across
                            various domains.
                        </p>
                    </div>
                    <div class="btn-group mt-0">
                        <a href="#" target="_top">Read More
                            <span class="right-arrow">
                                <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <ul class="services-slider">
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>Full Stack Development
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>Full Stack Development
                            </h5>
                            <p>Expertise in a IT consultancy
                                for the many companies, for
                                their different working areas
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>IoT - Digital Experience
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>IoT - Digital Experience
                            </h5>
                            <p>Ensuring robust data privacy and seamless integration, Interoperability,
                                guaranteeing a reliable IoT infrastructure
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>ETL and data quality
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>ETL and data quality
                            </h5>
                            <p>Expertise in a IT consultancy
                                for the many companies, for
                                their different working areas
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>Cloud Services
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>Cloud Services
                            </h5>
                            <p>Expertise in a IT consultancy
                                for the many companies, for
                                their different working areas
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>Data Science
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>Data Science
                            </h5>
                            <p>Expertise in a IT consultancy
                                for the many companies, for
                                their different working areas
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>Analytics
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>Analytics
                            </h5>
                            <p>Expertise in a IT consultancy
                                for the many companies, for
                                their different working areas
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>Automation & quality Engineering
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>Automation & quality Engineering
                            </h5>
                            <p>Expertise in a IT consultancy
                                for the many companies, for
                                their different working areas
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>AI and ML
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>AI and ML
                            </h5>
                            <p>Expertise in a IT consultancy
                                for the many companies, for
                                their different working areas
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="services-item">
                        <div class="card-overlay"></div>
                        <div class="thumbnail">
                            <img src="../../assets/images/services-01.jpg" alt="services-image" />
                            <h5>Cyber Security
                            </h5>
                        </div>
                        <div class="ser-hover">
                            <h5>Cyber Security
                            </h5>
                            <p>Expertise in a IT consultancy
                                for the many companies, for
                                their different working areas
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="large-cap light-gray-bg">
    <div class="container">
        <div class="text-center">
            <h6 class="sub-title">Our Value Prop</h6>
            <h2>Comprehensive analysis of your challenges and committed to deliver best-in-class reliable IT
                Services
            </h2>
            <div class="value-prop">
                <div class="sevi-item">
                    <div class="lg-icon">
                        <img src="../../assets/images/settings-icon.png" alt="icon" />
                    </div>
                    <h6> IT Innovation
                    </h6>
                    <p>Relentless pursuit of excellence with commitment on staying at the forefront of
                        technological advancements
                    </p>
                </div>
                <div class="sevi-item">
                    <div class="lg-icon">
                        <img src="../../assets/images/settings-icon.png" alt="icon" />
                    </div>
                    <h6> Quality and reliability
                    </h6>
                    <p>Steadfast commitment in upholding the bedrock values exceeding industry benchmarks, new
                        standards of excellence in
                        promoting trust and dependability
                    </p>
                </div>
                <div class="sevi-item">
                    <div class="lg-icon">
                        <img src="../../assets/images/settings-icon.png" alt="icon" />
                    </div>
                    <h6> Agile and flexible
                    </h6>
                    <p>Swiftly adapting to market shifts and ability to remain nimble in a rapidly changing
                        world, seizing oppurtunities and delivering perfectly aligned solutions
                    </p>
                </div>
                <div class="sevi-item">
                    <div class="lg-icon">
                        <img src="../../assets/images/settings-icon.png" alt="icon" />
                    </div>
                    <h6> Social responsibility/sustainability
                    </h6>
                    <p>Profound commitment with ethical business practices impacting society and contributing to
                        a more sustainable future
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-blog">
    <div class="container">
        <div class="">
            <div class="video-thumbnail">
                <div>
                    <div class="play-btn js-modal-btn" data-video-id="a3ICNMQW7Ok">
                        <a href="javascript:void(0);">
                            <img src="../../assets/images/play-icon.png" alt="play-icon" />
                        </a>
                    </div>
                </div>
                <div>
                    <h2 class="text-white">Employee talent and Culture<br />
                        Partnership and collaboration
                    </h2>
                    <div class="btn-group mt-0">
                        <a href="#" target="_top">Read More
                            <span class="right-arrow">
                                <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="large-cap">
    <div class="container">
        <div class="text-center">
            <h6 class="sub-title">We Make Connections</h6>
            <h2>Solutions</h2>
            <p class="max-length">Empower your business with our versatile support and expertise in seamlessly
                integrating and
                optimizing products. Establish smooth operations creating a hormonious ecosystem of technology
                for your success.
            </p>
        </div>
        <div class="solutions-group">
            <div class="solution-box">
                <div class="solution-image">
                    <img src="../../assets/images/solution-img.jpg" alt="" />
                </div>
                <div class="solution-content">
                    <p>MedTECHMD</p>
                    <h5>Health Tracker, PHR and Remote Care
                        Solutions with devices.
                    </h5>
                </div>
            </div>
            <div class="solution-box">
                <div class="solution-image">
                    <img src="../../assets/images/solution-img.jpg" alt="" />
                </div>
                <div class="solution-content">
                    <p>Seachblox</p>
                    <h5>Generative AI
                        Based conversations with your data.
                    </h5>
                </div>
            </div>
            <div class="solution-box">
                <div class="solution-image">
                    <img src="../../assets/images/solution-img.jpg" alt="" />
                </div>
                <div class="solution-content">
                    <p>RXCloud</p>
                    <h5>Innovation and speed
                        in Quality Assurance.
                    </h5>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-4 mt-3">
            <div class="btn-group mt-0">
                <a href="#" target="_top">Read More
                    <span class="right-arrow">
                        <img src="../../assets/images/button-arrow.png" alt="button-arrow" /> </span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="large-cap industries">
    <div class="container">
        <div class="text-center">
            <h6 class="sub-title">Industries
            </h6>
            <h2 class="text-white">We bring industry expertise essential for navigating complexities and driving
                innovation.
            </h2>
        </div>
        <div class="industries-slider">
            <ul class="industries-home">
                <li class="item">
                    <div class="icon-box"></div>
                    <h5>Banking and
                        Financials
                    </h5>
                    <p>Why knowing the customer is important in Banking
                    </p>
                </li>
                <li class="item">
                    <div class="icon-box"></div>
                    <h5>Insurance
                    </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                </li>
                <li class="item">
                    <div class="icon-box"></div>
                    <h5>Healthcare & Life Science
                    </h5>
                    <p>IoMT pioneers a revolutionary approach by interconnecting medical devices
                    </p>
                </li>
                <li class="item">
                    <div class="icon-box"></div>
                    <h5>Manufacturing
                    </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                </li>
                <li class="item">
                    <div class="icon-box"></div>
                    <h5>Retail
                    </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                </li>
                <li class="item">
                    <div class="icon-box"></div>
                    <h5>Energy and Utilities
                    </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                </li>
                <li class="item">
                    <div class="icon-box"></div>
                    <h5>Mobility and Hospitality
                    </h5>
                    <p>MaaS Solutions streamline travel experience.
                    </p>
                </li>
                <li class="item">
                    <div class="icon-box"></div>
                    <h5>Media and communications
                    </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="client-says" style="margin-bottom: 580px;">
            <div class="client">
                <h6 class="sub-title">Our Clients </h6>
                <h2>Establishing partnership,<br /> with clients </h2>
            </div>
            <div class="clients-group">
                <ul class="our-cllient">
                    <li class="item">
                        <p>"Colloborating, long term realtionships built on trusts, understanding and commitment
                            to
                            delivering values"
                        </p>
                        <div class="d-flex align-items-center pt-3 mt-1">
                            <div class="profile position-relative">
                                <img src="../../assets/images/profile-img.png" alt="" />
                                <div class="quotation">
                                    <img src="../../assets/images/quotation.png" alt="quotation" />
                                </div>
                            </div>
                            <div class="ps-3 auth-info">
                                <h6>Maytee Meyers</h6>
                                <span>M&T Bank</span>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="item">
                        <p>"Colloborating, long term realtionships built on trusts, understanding and commitment
                            to
                            delivering values"
                        </p>
                        <div class="d-flex align-items-center pt-3 mt-1">
                            <div class="profile position-relative">
                                <img src="../../assets/images/profile-img.png" alt="" />
                                <div class="quotation">
                                    <img src="../../assets/images/quotation.png" alt="quotation" />
                                </div>
                            </div>
                            <div class="ps-3 auth-info">
                                <h6>Maytee Meyers</h6>
                                <span>M&T Bank</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <p>"Colloborating, long term realtionships built on trusts, understanding and commitment
                            to
                            delivering values"
                        </p>
                        <div class="d-flex align-items-center pt-3 mt-1">
                            <div class="profile position-relative">
                                <img src="../../assets/images/profile-img.png" alt="" />
                                <div class="quotation">
                                    <img src="../../assets/images/quotation.png" alt="quotation" />
                                </div>
                            </div>
                            <div class="ps-3 auth-info">
                                <h6>Maytee Meyers</h6>
                                <span>M&T Bank</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <p>"Colloborating, long term realtionships built on trusts, understanding and commitment
                            to
                            delivering values"
                        </p>
                        <div class="d-flex align-items-center pt-3 mt-1">
                            <div class="profile position-relative">
                                <img src="../../assets/images/profile-img.png" alt="" />
                                <div class="quotation">
                                    <img src="../../assets/images/quotation.png" alt="quotation" />
                                </div>
                            </div>
                            <div class="ps-3 auth-info">
                                <h6>Maytee Meyers</h6>
                                <span>M&T Bank</span>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="large-cap pb-0" style="margin-top:-430px;position:absolute;width:90%;z-index: 999;margin-left:70px;">
    <div class="container">
        <div class="text-center">
            <h6 class="sub-title">Contact us</h6>
            <h2> We are Always here to help you</h2>
        </div>
        <div class="form-head">
            <div class="form-image">
                <figure>
                    <img src="../../assets/images/contact-img.jpg" />
                </figure>
            </div>
            <div class="contact-form">
                <form>
                    <div class="home-form">
                        <div class="form-grp">
                            <div class="form-item">
                                <input type="text" id="yuorname" autocomplete="off" required />
                                <label for="yuorname">Your Name*</label>
                            </div>
                            <div class="form-item">
                                <input type="number" id="phonenumber" autocomplete="off" required />
                                <label for="phonenumber">Phone Number*</label>
                            </div>
                        </div>
                        <div class="form-grp">
                            <div class="form-item">
                                <input type="email" id="email" autocomplete="off" required />
                                <label for="email">Email*</label>
                            </div>
                            <div class="form-item">
                                <input type="text" id="subject" autocomplete="off" required />
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div>
                            <div class="form-item">
                                <textarea id="message" autocomplete="off" required></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div>
                            <div class="btn-group mt-0">
                                <button>
                                    <a href="javascript:void(0);" target="_top">Submit
                                        <span class="right-arrow">
                                            <img src="../../assets/images/button-arrow.png" alt="button-arrow" />
                                        </span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>