<div id="wrapper">
<div class="innerBanner bank product">
    <h1>Retail</h1>
</div>
<section class="large-cap mobile-filter">
    <div class="filter-icon">
        <div class="filter-toggle">
            <button class="filter-open"><i class="bx bx-chevron-right"></i></button>
            <button class="filter-close"><i class="bx bx-chevron-left"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="blogSection">
            <div class="blogMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="bankfina.html">Banking and Financials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insurance.html">Insurance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="healthcare.html">Healthcare, Pharma & Life Science</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manufacturing.html">Manufacturing</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="retail.html">Retails</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="energy-and-utilities.html">Energy and Utilities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mobility-and-hospitality.html">Mobility and Hospitality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="media-and-communications.html">Media and communications</a>
                    </li>
                </ul>
                <div class="profileInfo">
                    <figure>
                        <img class="blogImg" src="../../assets/images/avather.png" alt="about-img" />
                    </figure>
                    <h6>Need any It help?</h6>
                    <p>201-993-3194</p>
                    <p>Mail: <a href="mailto:info@Globalsumi.com">infoGlobalsumi.com</a></p>
                    <!-- <div class="socialLink">
                   <a class="link" href="#">
                   </a>
                   <a class="link" href="#">
                   </a>
                   <a class="link" href="#">
                   </a>
                   </div> -->
                </div>
            </div>
            <div class="blogContainer">
                <figure class="mb-4">
                    <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                </figure>
                <div class="content">
                    <h2>AI-powered analytics, personalized customer experiences
                    </h2>
                    <p>We specialize in revolutionizing the retail sector by offering seamless omnichannel
                        integration and AI-powered analytics to cybersecurity measures and personalized customer
                        experiences. We empower retailers to optimize operations, boost efficiency, and engage
                        customers in innovative ways. With our expertise, we transform traditional retail into a
                        tech-forward, customer-centric landscape, ensuring enhanced productivity and success in
                        today's dynamic market.
                    </p>
                </div>
                <div class="content">
                    <h2>IT revolutionizes engagement with customers</h2>
                    <ul class="listStyle mt-3">
                        <li>Retail Management Systems </li>
                        <li>Customer-focused automation </li>
                        <li>Hybrid Stores </li>
                        <li>Frictionless Delivery </li>
                        <li>Personalized product</li>
                        <li>Integrated Warehouse</li>
                        <li>Impulse Buying</li>
                        <li>Order Management - Multichannel </li>
                        <li>Fintech offerings</li>
                    </ul>
                </div>
                <div class="content">
                    <h2>IT revolutionizes engagement with customers
                    </h2>
                    <p>Information Technology (IT) is significantly revolutionizing the retail sector by
                        introducing innovative solutions that transform various aspects of retail operations and
                        customer experiences. IT has facilitated the rise of online shopping through e-commerce
                        platforms, allowing retailers to reach a broader audience, conduct transactions online,
                        and provide 24/7 accessibility.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="image-blog">
                                <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <figure>
                                <img class="blogImg" src="../../assets/images/bankfinainfo.jpg" alt="about-img" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>